._wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
}

._booking-info {
    border: none;
    background: none;
    display: inline-block;
}

._booking-info svg {
    width: 18px;
    fill: #000;
    stroke-width: 4px;
}