._switch {
    position: relative;
    display: inline-block;
    width: 40px;
    min-width: 40px;
    height: 25px;
    margin-right: .5rem;
  }
  
  ._switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  ._switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background-color: var(--grey-hue);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  ._switch-slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    border-radius: 50px;
    background-color: var(--white-hue);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + ._switch-slider {
    background-color: var(--primary-hue);
  }
  
  input:focus + ._switch-slider {
    box-shadow: 0 0 1px var(--primary-hue);
  }
  
  input:checked + ._switch-slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }